body, h1, p, button, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f9fc;
    color: #333;
    padding: 20px;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #004a7c;
}

p {
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    background-color: #004a7c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: #00335a;
}

button:active {
    background-color: #001f3a;
}

.hidden {
    display: none;
}

#emails {
    list-style-type: none;
}

#countDisplay {
    font-size: 14px;
    margin-bottom: 15px;
}

#savedCount {
    font-weight: bold;
}

#metadata {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

#version, #author {
    display: block;
    font-size: 12px;
}

#author {
    font-style: italic;
}

select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
    cursor: pointer;
    color: #333;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
    border-color: #004a7c;
}

option {
    padding: 8px 10px;
}

#emailFormatDropdown, #downloadFormatButton{
    display: none;
}


#emailFormatLabel {
    display: inline-block;
    vertical-align: middle;
}


#downloadFormatButton:active {
    background-color: #444;
}

.disabled-button {
    background-color: #999;
    cursor: not-allowed;
    opacity: 0.85;
    position: relative;
}

.disabled-button:hover {
    background-color: #999;  
}

* {
    box-sizing: border-box;
}

#domainInput, select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    transition: border-color 0.3s;
    appearance: none;
}

#domainInput {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#domainInput:focus {
    border-color: #004a7c;
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#domainInput::placeholder {
    color: #888;
}

select:focus {
    border-color: #004a7c;
}

option {
    padding: 8px 10px;
}

#selectPrompt, #domainWarning {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 1px solid #D8000C;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}